<div class="header-wrapper">
    <div class="logo-wrapper">
        <span>Budget-app</span>
    </div>
</div>
<mat-drawer-container class="drawer-wrapper">
    <mat-drawer mode="side" opened class="side-nav"
        ><div class="drawer-menu">
            <a>Dashboard</a>
            <a>Categories</a>
            <a>Charts</a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="drawer-content-wrapper">
            <div class="page-title-wrapper">
                <mat-card>
                    <h2>Dashboard</h2>
                </mat-card>
            </div>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
