<div class="dashboard-wrapper">
    <gridster class="grid-layout" [options]="options">
        <gridster-item [item]="dashboardItems.addTransactionPanel">
            <add-transaction-panel></add-transaction-panel>
        </gridster-item>
        <gridster-item [item]="dashboardItems.categoriesChart">
            <categories-chart></categories-chart>
        </gridster-item>
        <gridster-item [item]="dashboardItems.transactionsChart">
            <transactions-chart></transactions-chart>
        </gridster-item>
        <gridster-item [item]="dashboardItems.lastTransactionsTable">
            <last-transactions-table></last-transactions-table>
        </gridster-item>
    </gridster>
</div>
