<div class="auth-panel-wrapper">
    <form
        class="auth-form-wrapper"
        [formGroup]="signInForm"
        (ngSubmit)="onSubmit()"
    >
        <h4>Sign in to continue.</h4>
        <mat-form-field>
            <input
                matInput
                placeholder="Email"
                formControlName="email"
                autocomplete="email"
            >
            <mat-error>
                <error-msg
                    [control]="signInForm.get('email')"
                    fieldName="Email"
                ></error-msg>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                placeholder="Password"
                formControlName="password"
                type="password"
                autocomplete="off"
            >
            <mat-error>
                <error-msg
                    [control]="signInForm.get('password')"
                    fieldName="Password"
                ></error-msg>
            </mat-error>

        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                placeholder="Password confirm"
                formControlName="passwordConfirm"
                type="password"
                autocomplete="off"
            >
            <mat-error>
                <error-msg
                    [control]="signInForm.get('passwordConfirm')"
                    fieldName="Password confirm"
                ></error-msg>
            </mat-error>
        </mat-form-field>
        <button
            mat-stroked-button
            color="primary"
            type="submit"
            [disabled]="signInForm.invalid"
        >
            Sign in
        </button>
        <p>
            If you have account then
            <a
                routerLink="/log-in"
                class="auth-link"
            >
                log in
            </a>
        </p>
    </form>
</div>
