$primary: #212121;
$primary-light: #484848;
$primary-dark: #000000;
$primary-font-color: white;
$secondary: #1976d2;
$secondary-light: #63a4ff;
$secondary-dark: #004ba0;
$main-background: #e1e2e1;
$elements-background: #f5f5f6;
