<div>
    <div class="panel-element">
        <h4>Income:</h4>
        <span> 0.00zł</span>
    </div>
    <div class="panel-element">
        <h4>Expanse:</h4>
        <span> 0.00zł</span>
    </div>
    <mat-divider></mat-divider>
    <div class="panel-element">
        <h4>Balance:</h4>
        <span> 0.00zł</span>
    </div>

    <div class="add-transaction-wrapper">
        <button mat-stroked-button color="primary">+ Expense</button>
        <button mat-stroked-button color="accent">+ Income</button>
    </div>
</div>
